body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}
console {
    background-color: rgb(0, 191, 255);
   
}

p {
    margin: 0;
    padding: 0;
}

.left,

.right {
    position: absolute;
    color: #fff;
    font-family: Geneva, sans-serif;
}

.left {
    bottom: 1em;
    left: 1em;
    text-align: left;
}

.right {
    top: 0;
    right: 0;
    text-align: right;
}

a {
    color: #f58231;
}

.button {
    color: #FFF;
    background-color: #5995DA; /* Blue */
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 2px solid #5D6063; /* Dark gray */
    border-radius: 5px;
    width: 50px;
    margin: 10px auto;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 0px solid Black;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.rc-button:active {
    opacity: 0.5;
}

.rc_btn {
    border: 0;
    background: transparent;
    width: 64px;
    height: 64px;
    margin: 2px;
}
